---
import type{ Product } from "@schemas/product";
import type { Models } from "appwrite";
import ProductsTable from "@islands/products/products-table.svelte"

interface Props {
  products: Models.DocumentList<Models.Document>;
}

const { products: productsProp } = Astro.props;

const products = productsProp.documents as Product[];

---

<div class="relative overflow-x-auto shadow-md sm:rounded-lg max-w-screen-md">
  
  <ProductsTable {products} client:load  />
</div>
