---
import AppLayout from "@layouts/app-layout.astro";
import StoreItems from "@islands/store-items.svelte";
import { appwriteDatabases } from "@lib/appwrite";

const { store } = Astro.params;

if (!store) {
  return {
    statusCode: 404,
  };
}

const storeDoc = await appwriteDatabases.getDocument(
  import.meta.env.PUBLIC_APPWRITE_STORES_DB,
  import.meta.env.PUBLIC_APPWRITE_STORE_COLLECTION,
  store
);
---

<AppLayout>
  <h1 class="heading-level-1">{storeDoc.name}</h1>
  <StoreItems client:load />
</AppLayout>
