---
import LayoutAuth from "@layouts/auth.astro";
import LayoutBase from "@layouts/base.astro";

import ButtonNewProduct from "@components/buttons/new-product.astro";
import ProductsTable from "@components/tables/products.astro";

import { AppwriteService } from "@lib/appwrite";
import { Query } from "appwrite";

const { storeid } = Astro.params;

const members = await AppwriteService.getTeamMembers(storeid);
const products = await AppwriteService.getDocuments(
  import.meta.env.PUBLIC_APPWRITE_DATABASE_STORES,
  import.meta.env.PUBLIC_APPWRITE_COLLECTION_PRODUCT,
  [Query.equal("storeId", storeid)],
);
---

<LayoutBase>
  <LayoutAuth />

  <h1>Miembros</h1>
  {
    members.memberships.map((member) => (
      <div>
        <p>
          {member.$id} - {member.roles}
        </p>
      </div>
    ))
  }
  <h1>Productos</h1>

  <ProductsTable products={products}>
    <div class="flex gap-4" slot="head-controls">
      <a
        class="inline-flex items-center cursor-pointer focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
        >Vender</a
      >
      <ButtonNewProduct storeId={storeid} />
    </div>
  </ProductsTable>
</LayoutBase>
