---

---

<ul
    class="py-1 text-gray-500 dark:text-gray-400"
    aria-labelledby="user-dropdown-button"
>
    <li>
        <a
            href="/account/signout"
            class="block py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
            >Cerrar sesión</a
        >
    </li>
</ul>
