---
import SiteLayout from "@layouts/SiteLayout.astro";
---

<script>
  import { user$, logout, appwriteAvatars } from "@lib/appwrite";

  const loginElement: HTMLElement | null =
    document.querySelector("#accountLoginLink");
  const userElement: HTMLElement | null =
    document.querySelector("#accountUser");

  user$.subscribe((user) => {
    if (!loginElement || !userElement) return;
    if (!user) {
      loginElement.style.display = "flex";
      userElement.style.display = "none";
      return;
    }

    loginElement.style.display = "none";
    userElement.style.display = "flex";

    const userDetailsElement: HTMLElement | null =
      userElement.querySelector("#accountUserDetail");

    if (userDetailsElement) {
      userDetailsElement.innerHTML = `
      Email: ${user.email} <br />
      Created: ${new Date(user.$createdAt).toLocaleString("es-mx", {
        dateStyle: "medium",
        timeStyle: "short",
      })} <br />
      `;
    }
    const userAvatar: HTMLImageElement | null =
      userElement.querySelector("#user-avatar");
    if (userAvatar) {
      userAvatar.src = appwriteAvatars.getInitials(user.name).toString();
    }
    const userName: HTMLElement | null =
      userElement.querySelector("#user-name");
    if (userName) {
      userName.innerHTML = user.name;
    }
    const userId: HTMLElement | null = userElement.querySelector("#user-id");
    if (userId) {
      userId.innerHTML = user.$id;
      userId.addEventListener("click", (e) => {
        navigator.clipboard.writeText(user.$id);
      });
    }
  });

  const logoutElem: HTMLButtonElement | null =
    document.querySelector("#account-logout");
  logoutElem?.addEventListener("click", (e) => {
    logout();
  });
</script>

<SiteLayout>
  <section class="u-flex u-flex-vertical u-gap-8">
    <h1 class="heading-level-1">Mi cuenta</h1>

    <section id="accountLoginLink">
      <a href="/account/login">Login</a>
    </section>

    <section id="accountUser">
      <div class="card">
        <div class="user-profile">
          <img
            id="user-avatar"
            class="avatar"
            src="https://unsplash.it/40"
            alt=""
          />

          <span class="user-profile-info">
            <span id="user-name" class="name"></span>
            <div class="interactive-text-output u-padding-inline-0">
              <span id="user-id" class="text">User ID</span>
              <div class="u-flex u-cross-child-start u-gap-8">
                <button
                  class="interactive-text-output-button"
                  aria-label="copy text"
                >
                  <span class="icon-duplicate" aria-hidden="true"></span>
                </button>
              </div>
            </div>
          </span>
          <span class="user-profile-sep"></span>
          <span class="user-profile-empty-column"></span>
          <span class="user-profile-info">
            <span class="text" id="accountUserDetail">Extra description</span>
            <button id="account-logout" class="button" style="margin-top: 4em;"
              >Cerrar sesión</button
            >
          </span>
        </div>
      </div>
    </section>
  </section>

  <style>
    section {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  </style>
</SiteLayout>
