<script>
  import { loginWith } from "../../lib/appwrite";

  document.querySelector("#login-google")?.addEventListener("click", () => {
    loginWith("google");
  });
</script>
<article class="card u-flex u-flex-vertical u-gap-16">
  <h1 class="heading-level-1">Iniciar sesión con:</h1>
  <button class="button" id="login-google"
    ><i class="icon-google"></i>Google</button
  >
</article>
