---
import "@fontsource-variable/heebo";
import LayoutFloats from "@layouts/floats.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<!-- <ViewTransitions /> -->

		<title>Astro</title>
	</head>
	<body>
		<!-- <NavBarLayout /> -->
		<slot />
		<LayoutFloats />
		<script>
			import "flowbite";
			// import "flowbite";
			import "flowbite/dist/datepicker";
		</script>
		<style>
			body {
				font-family: "Heebo Variable", sans-serif;
			}
		</style>
	</body>
</html>
