---
import DropdownNavUser from "@components/dropdowns/nav-user.astro";
import DropdownNavStores from "@components/dropdowns/nav-stores.astro";
import DropdownNavNotifications from "@components/dropdowns/nav-notifications.astro";
import DropdownNavApps from "@components/dropdowns/nav-apps.astro";
import ButtonNavFaqs from "@components/buttons/nav-faqs.astro";
---

<script></script>

<header class="antialiased">
    <nav class="bg-white border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-900">
        <div class="flex flex-wrap justify-between items-center">
            <div class="flex justify-start items-center">
                <a href="/" class="flex mr-4">
                    <img
                        src="https://flowbite.s3.amazonaws.com/logo.svg"
                        class="mr-3 h-8"
                        alt="FlowBite Logo"
                    />
                    <span
                        class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
                        >RegistroRapido</span
                    >
                </a>
            </div>
            <div class="flex items-center lg:order-2">
                <DropdownNavNotifications />
                <span
                    class="mx-2 w-px h-5 bg-gray-200 dark:bg-gray-600 lg:inline"
                ></span>

                <DropdownNavApps />

                <span
                    class="hidden mx-2 w-px h-5 bg-gray-200 dark:bg-gray-600 lg:inline"
                ></span>

                <ButtonNavFaqs />

                <span
                    class="hidden mx-2 w-px h-5 bg-gray-200 dark:bg-gray-600 lg:inline"
                ></span>

                <DropdownNavStores />

                <span
                    class="mx-2 w-px h-5 bg-gray-200 dark:bg-gray-600 lg:inline"
                ></span>

                <DropdownNavUser />

                <button
                    type="button"
                    id="toggleMobileMenuButton"
                    data-collapse-toggle="toggleMobileMenu"
                    class="items-center p-2 text-gray-500 rounded-lg lg:hidden hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
                >
                    <span class="sr-only">Open menu</span>
                    <svg
                        class="w-6 h-6"
                        aria-hidden="true"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                        ><path
                            fill-rule="evenodd"
                            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                            clip-rule="evenodd"></path></svg
                    >
                </button>
            </div>
        </div>
    </nav>
    <nav
        id="toggleMobileMenu"
        class="hidden bg-white lg:bg-gray-50 lg:dark:bg-gray-800 dark:bg-gray-900 lg:block"
    >
        <div class="px-0 lg:py-3 lg:px-6">
            <div class="flex items-center">
                <ul
                    class="flex flex-col mt-0 w-full text-sm font-medium lg:mr-6 lg:flex-row"
                >
                    <li class="block border-b dark:border-gray-800 lg:hidden">
                        <!-- <button
                            type="button"
                            data-dropdown-toggle="userDropdown"
                            class="flex justify-between items-center py-3 px-4 w-full text-gray-900 lg:py-0 dark:text-white lg:hover:underline lg:px-0"
                        >
                            <span
                                >Account <span
                                    class="ml-2 text-base text-gray-500 dark:text-gray-400"
                                    >Bonnie @ 1234-567-890</span
                                ></span
                            >
                            <svg
                                class="w-2.5 h-2.5 text-gray-500 dark:text-gray-400"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 6 10"
                            >
                                <path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="m1 9 4-4-4-4"></path>
                            </svg>
                        </button> -->
                    </li>
                    <li class="block border-b dark:border-gray-800 lg:hidden">
                        <!-- <button
                            type="button"
                            data-dropdown-toggle="regionDropdown"
                            class="flex justify-between items-center py-3 px-4 w-full text-gray-900 lg:py-0 dark:text-white lg:hover:underline lg:px-0"
                        >
                            <span
                                >Regions <span
                                    class="ml-2 text-base text-gray-500 dark:text-gray-400"
                                    >US East (N. Virginia)</span
                                ></span
                            >
                            <svg
                                class="w-2.5 h-2.5 text-gray-500 dark:text-gray-400"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 6 10"
                            >
                                <path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="m1 9 4-4-4-4"></path>
                            </svg>
                        </button> -->
                    </li>
                    <li
                        class="block border-b dark:border-gray-700 lg:inline lg:border-b-0 lg:mr-8"
                    >
                        <a
                            href="#"
                            class="block py-3 px-4 text-gray-900 lg:py-0 dark:text-white lg:hover:underline lg:px-0"
                            aria-current="page">Home</a
                        >
                    </li>
                    <li
                        class="block border-b dark:border-gray-700 lg:inline lg:border-b-0 lg:mr-8"
                    >
                        <a
                            href="#"
                            class="block py-3 px-4 text-gray-900 lg:py-0 dark:text-white lg:hover:underline lg:px-0"
                            >Company</a
                        >
                    </li>
                    <li
                        class="block border-b dark:border-gray-700 lg:inline lg:border-b-0 lg:mr-8"
                    >
                        <a
                            href="#"
                            class="block py-3 px-4 text-gray-900 lg:py-0 dark:text-white lg:hover:underline lg:px-0"
                            >Team</a
                        >
                    </li>
                    <li
                        class="block border-b dark:border-gray-700 lg:inline lg:border-b-0 lg:mr-8"
                    >
                        <a
                            href="#"
                            class="block py-3 px-4 text-gray-900 lg:py-0 dark:text-white lg:hover:underline lg:px-0"
                            >Features</a
                        >
                    </li>
                    <li
                        class="block border-b dark:border-gray-700 lg:inline lg:border-b-0 lg:mr-8"
                    >
                        <a
                            href="#"
                            class="block py-3 px-4 text-gray-900 lg:py-0 dark:text-white lg:hover:underline lg:px-0"
                            >Marketplace</a
                        >
                    </li>
                    <li
                        class="block border-b dark:border-gray-700 lg:inline lg:border-b-0 lg:mr-8"
                    >
                        <a
                            href="#"
                            class="block py-3 px-4 text-gray-900 lg:py-0 dark:text-white lg:hover:underline lg:px-0"
                            >Resources</a
                        >
                    </li>
                    <li
                        class="block border-b dark:border-gray-700 lg:inline lg:border-b-0 lg:mr-8"
                    >
                        <a
                            href="#"
                            class="block py-3 px-4 text-gray-900 lg:py-0 dark:text-white lg:hover:underline lg:px-0"
                            >Forum</a
                        >
                    </li>
                    <li class="block lg:inline">
                        <a
                            href="#"
                            class="block py-3 px-4 text-gray-900 lg:py-0 dark:text-white lg:hover:underline lg:px-0"
                            >Support</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
