---
import MenuUserManagement from "@components/menus/user-management.astro";
import MenuUserSession from "@components/menus/user-session.astro";

const { account } = Astro.locals;
---

<a
    data-account-nav="false"
    href="/auth"
    class="!hidden items-center p-2 pr-3 pl-4 font-medium text-gray-500 rounded-lg lg:inline-flex hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
    >Iniciar sesión</a
>

<!-- User menu -->
<button
    transition:persist
    data-account-nav="true"
    type="button"
    id="user-dropdown-button"
    data-dropdown-toggle="user-dropdown"
    class="items-center p-2 pr-3 pl-4 font-medium text-gray-500 rounded-lg lg:inline-flex hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
>
    {account.name}
    <!-- Icon -->
    <svg
        class="w-3 h-3 ml-1.5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 6"
        ><path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 1 4 4 4-4"></path></svg
    >
</button>
<!-- Dropdown menu -->
<div
    class="hidden z-50 my-4 w-56 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600"
    id="user-dropdown"
    transition:persist
>
    <div class="py-3 px-4">
        <span class="block text-sm font-semibold text-gray-900 dark:text-white"
            >{account.name}</span
        >
        <span class="block text-sm text-gray-500 truncate dark:text-gray-400"
            >{account.email}</span
        >
    </div>
    <MenuUserManagement />
    <!-- <MenuUserFeatures /> -->
    <MenuUserSession />
</div>

<!-- <script define:vars={{ account }} defer>
    const skeleton = document.querySelector("[data-account-loading]");
    const authed = document.querySelector("[data-account-nav='true']");
    const guest = document.querySelector("[data-account-nav='false']");
    if (!account) {
        skeleton.classList.add("!hidden");
        guest.classList.remove("!hidden");
    }
    if (account) {
        skeleton.classList.add("!hidden");
        authed.classList.remove("!hidden");
        document.querySelectorAll("[data-username]")?.forEach((field) => {
            field.innerHTML = account.name || "Anonimo";
        });
        document
            .querySelectorAll("[data-email]")
            ?.forEach((field) => (field.innerHTML = account.email));
    }
</script> -->
