---
import DropdownNavStoreIsland from "@islands/dropdowns/nav-stores.svelte";

const { storeId: currentStore } = Astro.params;
const { stores } = Astro.locals.account.prefs;
---

<DropdownNavStoreIsland client:load transition:persist {stores} {currentStore}>
    <li class="group">
        <div class="flex p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
            <div class="flex items-center h-5">
                <svg
                    class="w-5 h-5 -ml-[1px] rounded-full text-blue-600 group-hover:ring-blue-500 dark:group-hover:ring-blue-600 dark:ring-offset-gray-700 group-hover:ring-2 dark:bg-gray-600 dark:border-gray-500"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 24 24"
                >
                    <path
                        fill-rule="evenodd"
                        d="M2 12a10 10 0 1 1 20 0 10 10 0 0 1-20 0Zm11-4.2a1 1 0 1 0-2 0V11H7.8a1 1 0 1 0 0 2H11v3.2a1 1 0 1 0 2 0V13h3.2a1 1 0 1 0 0-2H13V7.8Z"
                        clip-rule="evenodd"></path>
                </svg>
            </div>
            <!-- Modal toggle -->
            <button
                class="ml-2 text-sm cursor-pointer"
                data-modal-target="default-modal"
                data-modal-toggle="default-modal"
            >
                <div class="font-medium text-gray-900 dark:text-gray-300">
                    <div>Añadir una tienda</div>
                    <p
                        class="text-xs font-normal text-gray-500 dark:text-gray-300"
                    >
                        Crear una tienda nueva
                    </p>
                </div>
            </button>
        </div>
    </li>

    <!-- Modal toggle -->
</DropdownNavStoreIsland>
